.ng-page-slider {
    width: 500px;
}

.page {
    overflow: hidden;
}

img {
    height: 100%;
    margin: auto;
    display: block;
}

.title {
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px black;
    position: absolute;
    bottom: 15px;
    right: 5px;
}
