$arrow_size_original: 44px;
$arrow_line_height_original: 37px;
$dot_size_original: 6px;
$title_size_original: 16px;

$arrow_size: $arrow_size_original;
$arrow_line_height: $arrow_line_height_original;
$dot_size: $dot_size_original;
$title_size: $title_size_original;
$title_offset: $dot_size_original / 3 + $title_size_original;


